/* style.css */

button {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
button.like {
	border: 1px solid #256ae8;
	color: #256ae8;
	background: #fff;
}
button.liked {
	border: 1px solid #256ae8;
	color: #fff;
	background: #256ae8;
}
	
